.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    /*border-color: #666;*/
    /*background-image: url("https://zos.alipayobjects.com/rmsportal/gGlUMYGEIvjDOOw.jpg");*/
    /*background-size: cover;*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
}
.banner-title{
    font-size: 44px;
    color: #272727;
    position: absolute;
    top: 230px;
    left: 180px;
    text-align: left;
}
.banner-content{
    color: #d8d8d8;
    font-size: 18px;
    margin-top: 31px;
}
.know-more{
    font-size: 18px;
    margin-top: 100px;
}
.banner-icon{
    bottom: 20px;
    font-size: 24px;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    color: #d8d8d8;
}
.display-area{
    position: absolute;
    bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}
.display-area-item{
    width: 244px;
    height: 138px;
    margin-left: 80px;
    background: #fff;
    box-shadow: 3px 2px 14px 1px #75757516;
    border-radius: 8px;
    text-align: left;
    padding: 24px 18px;
    position: relative;
    color: #272727;
    cursor: pointer;
}
.display-area-item-title{
    position: absolute;
    bottom: 24px;
    font-size: 18px;
}
.display-area-item-info{
    color: #d8d8d8;
}
.display-area-item:hover{
    background: #214EF7 !important;
    color: #fff !important;
}
.play-button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-70%);
    cursor: pointer;
}
.video-modal{
    background: none;
}