
.nav-header{
    margin-left: 330px;
}
.nav-header-item{
    border-left: 1px solid #d8d8d8;
    padding: 100px 10px;
    height: 200px;
    font-size: 27px;
    color: #535353;
    text-align: left;

}
.nav-header-item p{
    margin: 0;
}
.content{
    margin: 40px 180px 0 180px;
    padding: 10px 0;
    /*background: red;*/
}
.content-item{
    text-align: center;
    width: 354px;
    margin: 40px auto;
    cursor: pointer;
}

.content-item-img{
    width: 354px;
    height: 254px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 6px 7px 16px 4px #7575753b;
}
.content-item-img img{
    width: 100%;
    height: 100%;
}
.content-item-info{
    text-align: left;
    margin: 20px auto;
}
.content-item-info-title{
    color: #535353;
    font-size: 21px;
    margin: 0;
}
.content-item-info-content{
    font-size: 16px;
    color: #d8d8d8;
}
.home-page{
    height: 100%;
    max-width: 1200px;
    position: relative;
    margin: auto;
    will-change: transform;
}
.content5-wrapper {
    background-color: #fff;
    min-height: 720px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.home-page-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}
