.Location{
    background: #fff;
    padding-top: 80px;
    text-align: center;
    padding-bottom: 10px;
}
.location-title{
    width: 280px;
    height: 93px;
    font-size: 21px;
    border-radius: 14px;
    box-shadow: 2px 1px 9px 2px #d8d8d8;
    margin: 0 auto 80px auto;
    position: relative;
    padding-top: 30px;
}
.location-title-line{
    height: 4px;
    width: 30px;
    border-radius: 2px;
    background: #214EF7;
    margin: 14px auto;
}
.location-map-content{
    max-width: 1200px;
    margin: auto;
    position: relative;
}
.location-map-content img{
    width: 100%;
}
.location-map-info{
    background: #214ef7ba;
    color: #fff;
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}