.NavHeader{
    margin-left: 330px;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
}

.NavHeader-item{
    border-left: 1px solid #d8d8d8;
    padding-top: 50px;
    padding-left: 10px;
    height: 154px;
    font-size: 27px;
    color: #535353;
    text-align: left;
    flex:1;
    display:inline;
    cursor: pointer;
    transition: height 1.5s,border-color 1.5s,padding-top 1.5s;
}
.NavHeader-item:hover{
    height: 200px;
    padding-top:100px;
    border-color:#214EF7;
}
.NavHeader-item p{
    margin: 0;
}