.ProductBlock{
    min-height: 600px;
    background: #214EF705;
    padding-top: 40px;
}
.ProductBlock-title{
    color: #535353;
    font-size: 24px;
    margin-bottom: 40px;
}
.ProductBlock-content{
    max-width: 1200px;
    margin: auto;
    will-change: transform;
}
.ProductBlock-item{
    margin-top: 40px;
}
.ProductBlock-item-img{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.ProductBlock-item-img img{
    width: 39px;
    height: 39px;
}
.ProductBlock-item-content-title{
    font-size: 24px;
    font-weight: 700;
    color: #535353;
    margin: 0;
}
.ProductBlock-item-content-content{
    color: #8d8d8d;
    text-align: left;
    font-size: 18px;
}