.ProductContent{
    max-width: 1200px;
    margin: 80px auto;
    min-height: 400px;
}
.ProductContent-title{
    color: #535353;
    font-size: 24px;
    margin-bottom: 40px;
}
.ProductContent-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ProductContent-content-info{
    text-align: left;
    width: 700px;
}
.ProductContent-content-info-title{
    color:#535353;
    margin-bottom: 10px;
}
.ProductContent-content-info-title-ch{
    margin: 0;
    font-size: 28px;
}
.ProductContent-content-info-title-en{
    margin: 0;
    font-size: 20px;
}
.ProductContent-content-img{

}
.ProductContent-content-img img{
    width: 158px;
}
