
.CompanyHistory{
    background: #214EF7;
    padding-top: 40px;
    margin-top: 40px;
}

.CompanyHistory-title{
    font-size: 24px;
    color: #fff;
    margin: 40px auto;
    font-weight: bold;
}
.timeline-title{
    color: #fff;
    font-size: 24px;
}
.timeline-content{
    color: #fff;
}