
.CompanyInfo{
    max-width: 1200px;
    margin: 200px auto 0 auto;
}
.CompanyInfo-title{
    font-size: 24px;
    color: #535353;
    margin-top: 20px;
    font-weight: bold;
}
.CompanyInfo-info{
    text-align: left;
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
}

.CompanyInfo-img{
    width: 350px;
}
.CompanyInfo-img img{
    width: 100%;
}
.CompanyInfo-info-info{
    width: 560px;
}
.CompanyInfo-info-title{
    font-size: 24px;
    color: #535353;
    font-weight: bold;
}
.CompanyInfo-info-content{
    font-size: 18px;
    color: #8d8d8d;
}