
.Team{
    max-width: 1200px;
    margin: 80px auto;
}

.Team-title{
    font-size: 24px;
    color: #535353;
    margin-top: 20px;
    font-weight: bold;
}
.Team-content{
    margin-top: 80px;
}
.Team-content-item{
    box-shadow: 1px -1px 13px 2px #d8d8d8;
    padding: 50px;
    width: 100%;
    margin-top: 40px;
    border-radius: 8px;
    display: flex;
    height: 300px;
}
.Team-content-item-photo{
    width: 112px;
    height: 112px;
    margin-right: 48px;
}
.Team-content-item-photo img{
    width: 100%;
}

.Team-content-item-info{
    flex: 1;
    text-align: left;
}
.Team-content-item-info-name{
    margin: 0;
    color: #535353;
    font-size: 24px;
    font-weight: bold;
}
.Team-content-item-info-content{
    color: #8d8d8d;
    font-size: 18px;
}