.Example{
    margin-top: 80px;
}
.Example-Item{
    width: 1200px;
    margin:80px auto;
    padding: 46px 84px;
    box-shadow: -1px 1px 10px 2px #d8d8d8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    border-radius: 8px;
}
.Example-Item-info{
    width: 580px;
}

.Example-Item-info-title{
    font-size: 20px;
    color: #272727;
    font-weight: bold;
}
.Example-Item-info-content{
    margin-top: 30px;
}
.Example-Item-info-content-title{
    font-size: 18px;
    color: #535353;
    font-weight: bold;
    margin: 0;
}