
.Explain{
    margin: 200px auto 80px auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Explain-content{
    width: 480px;
    text-align: left;
}
.Explain-content-title{
    font-size: 24px;
    font-weight: bold;
    color: #535353;
    margin: 0;
}
.Explain-content-content{
    font-size: 18px;
    color: #8d8d8d;
}
.Explain-img{
    max-width: 600px;
    max-height: 640px;
}
.Explain-img img{
    width: 100%;
}