.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Menu{
  width: 790px;
  padding: 30px;
  font-size: 18px;
  display: flex;
  box-shadow: 4px 3px 13px 3px #d8d8d8;
  background: #fff;
  position: absolute;
  top: 60px;
  left:40px;
  border-radius: 14px;
}
.Menu-Item{
  margin-left: 40px;
  color: #8d8d8d;
  cursor: pointer;
}

.Close-Button{
  position: absolute;
  right: 40px;
  cursor: pointer;
}
